// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$bg-dark-theme: #2a3447;
$bg-light-theme: #fff;

//TEXT
$main-color: #fff;
$soft-color: #ddd;
$text-color-light-theme: #000;
$text-color-dark-theme: #fff;
$text-color-footer: $soft-bg;
