@use "../../styles/responsive" as *;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    img {
      width: 32px;
      height: 32px;
    }
    span {
      font-size: 20px;
      font-weight: bold;
      @include sm {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .icon {
        @include md {
          display: none;
        }
      }
    }

    .notifications {
      position: relative;
      span {
        position: absolute;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        top: -13px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
      & {
        @include md {
          display: none;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    @include md {
      .settings {
        display: none;
      }
    }
  }
  .icon {
    fill: none;
    stroke: #000;
    transition: all 0.3s ease;
  }
}
